:root {
    // https://tints.dev/brand/DAE6F6
    --plume-color-primary-50: #edf7ff;
    --plume-color-primary-100: #d7ebfe;
    --plume-color-primary-200: #b0d2fc;
    --plume-color-primary-300: #86b4f9;
    --plume-color-primary-400: #5e92f3;
    --plume-color-primary-500: #3c71ec;
    --plume-color-primary-600: #1b4cde;
    --plume-color-primary-700: #1c39b0;
    --plume-color-primary-800: #1a2b89;
    --plume-color-primary-900: #161e5f;
    --plume-color-primary-950: #15184c;
}
