.plume {

    .content {
        p, div, h1, h2, h3, h4 {
            position: relative;

            &:not(:hover)::before {
                transform: scale(.9);
                opacity: 0;
                transition-duration: .4s;
            }

            &::before {
                position: absolute;
                display: block;
                bottom: calc(100% - 18px);
                right: 100%;
                color: var(--plume-color-primary-50);
                background: var(--plume-color-primary-600);
                padding: 1px;
                border-radius: 2px;
                font-size: .5rem;
                transition-duration: .1s;
            }


        }

        h1::before {
            content: 'H1';
        }

        h2::before {
            content: 'H2';
        }

        h3::before {
            content: 'H3';
        }

        h4::before {
            content: 'H3';
        }
    }
}
