.plume {

    .content {
        p, div, h1, h2, h3, h4 {
            position: relative;

            &::before {
                position: absolute;
                display: block;
                bottom: calc(100% - 6px);
                right: 100%;
                color: darkorange;
                font-size: .5rem;
            }
        }

        h1::before {
            content: 'H1';
        }

        h2::before {
            content: 'H2';
        }

        h3::before {
            content: 'H3';
        }
    }
}
