.plume .toolbar {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-radius: 4px 4px 0 0;
    padding: 8px;
    display: flex;
    gap: 4px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.09);

    .divider {
        display: block;
        width: 1px;
        background: black;
        margin: 6px 10px;
        opacity: .1;
    }

    .toolbar-btn-holder {
        position: relative;
        z-index: 10;

        &.simple {
            button {
                position: relative;
                display: flex;
                gap: 5px; // spacing betweeen icon & text
                white-space: nowrap;
                width: 100%;
                border-radius: 4px;
                cursor: pointer;
                border: none;
                background: transparent;
                align-items: center;
                height: 32px;
                transition-duration: .3s;

                &:hover {
                    transition-duration: .07s;
                }

                &[data-tooltip] {
                    &:hover::after {
                        display: block;
                    }

                    &::after {
                        content: attr(data-tooltip);
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 6px;
                        font-size: .8rem;
                        color: #FFF;
                        background: rgb(30 30 30 / .9);
                        border-radius: 3px;
                        animation: tooltipIn .2s .4s both;
                        display: none;

                        @keyframes tooltipIn {
                            from {
                                opacity: 0;
                                transform: translateX(-50%) translateY(2px);
                            }
                        }
                    }
                }

                .text {
                    font-size: .9rem;
                    color: black;
                }

                .icon {
                    height: 70%;
                }

                &:not(.--active):hover {
                    background: var(--plume-color-primary-100)
                }

                &.--pressed {
                    // anim dur must match js timeout for --pressed class toggle
                    animation: focusAnim .2s both;
                    @keyframes focusAnim {
                        50% {
                            transform: scale(.85);
                        }
                    }
                }

                &.--active {
                    background: var(--plume-color-primary-100);
                    color: white;
                }
            }
        }

        &.dropdown {
            > button {
                background: #f6f6f6;
                padding-left: 8px;
                padding-right: 8px;

                .arrow {
                    flex: 1 1 auto;
                    display: flex;
                    justify-content: flex-end;
                    margin-left: 6px;
                }
            }

            &.--is-open {
                & > .children {
                    display: flex;
                }

                // force hide tooltip when dropdown is shown
                > button[data-tooltip]::after {
                    display: none;
                }
            }

            .children {
                position: absolute;
                top: calc(100% + 4px);
                left: 0;
                display: none;
                flex-direction: column;
                gap: 2px;
                background: #FFF;
                padding: 6px;
                border-radius: 4px;
                box-shadow: 0 0 1px 1px rgba(0 0 0 / .07), 0 2px 6px rgba(0 0 0  / .2);

                .simple .text {
                    padding-right: 32px;
                }
            }
        }
    }
}
