:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html {
    height: 100%;
}

body {
    margin: 0;
    padding: 50px;
    min-height: 100%;
    background: #f1f1f1;
    overflow-x: hidden;
}

.bg-gradient {
    position: absolute;
    top: -500px;
    left: -20vw;
    right: -20vw;
    bottom: calc(100vh - 400px);
    transform: rotate(176deg);
    background: linear-gradient(to top, #1b509f 90%, #194588);
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.editor-holder {
    padding: 8px;
    background: rgba(255 255 255 / .08);
    border-radius: 12px;
}


// editor content styles
.plume .content {
    h1, h2, h3, p {
        line-height: 1.15;
    }

    p {
        line-height: 1.4;
    }

    .h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    .h3 {
        font-size: 1.625rem;
        font-weight: bold;
    }

    .text-hero-1 {
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        background: black;
        color: white;
        padding: 8px 14px;
    }

    .text-hero-2 {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        background: black;
        color: white;
        padding: 8px 14px;
    }

    .text-eyebrow {
        text-transform: uppercase;
        font-family: monospace;
        letter-spacing: 1px;
        font-size: 1rem;

        &:not(:first-child) {
            margin-top: 2rem;
        }

        // remove top margin of headlines if they comme immediately after
        & + .h1, & + .h2, & + .h3 {
            margin-top: 0;
        }
    }

    .double-1 {
        border-left: 4px solid limegreen;
        padding-left: 10px;
    }

    .double-2 {
        border-right: 4px solid limegreen;
    }


    // all allowed block elements
    p, div, h1, h2, h3, h4, h5, h6, blockquote {
        display: block;
        margin: 0;

        &:not(:first-child) {
            margin-top: calc(min(1em, 24px));
        }
    }

    a {
        color: var(--plume-color-primary-600)
    }
}
